body {
        font-family: 'Roboto', sans-serif;
        background-color: #1d222c;
        color: #FFFFFF;
        font-size: 40px;
		overflow-x: hidden; 
        overflow-y: hidden;
		repeat: none;
		height: 100%;
		background: linear-gradient(#1d222c, #0f1219);
		background-repeat: no-repeat;
		background-attachment: fixed;
}
.h   {
		background-color: #2c3649;
		min-width: 100vw;
        font-size: 90px;
        font-weight: lighter;
        letter-spacing: 8px;
		margin-top: -8px;
		border: solid #363c47;
		border-width: 0 0 2px 0;
		margin-left: -8px;
		padding-bottom: 4px;
}
.i {
        font-size: 60px;
        font-weight: lighter;
        letter-spacing: 4px;
		padding-left: 35px;
		padding-top: 10px;
		padding-bottom: 14px;
}
.t {
		font-family: 'Roboto', sans-serif;
        font-size: 47px;
        font-weight: lighter;
		padding-left: 55px;
		padding-bottom: 14px;
		margin-top: -10px;
}
.l {
		font-size: 47px;
        font-weight: lighter;
        color: #FFFFFF;
		padding-left: 70px;
		padding-top: 10px;
		text-decoration: none;
}
.b {
		position:fixed;
		right:0;
		bottom:0;
		padding-right: 20px;
		padding-bottom: 10px;
		font-size: 50px;
        font-weight: lighter;
        color: #FFFFFF;
}
a {
	text-decoration: none;
}